@import 'utilities.css';


* {
    padding: 0;
    margin:0;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}

header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
    background-image:url('../image/image3.jpg');
    background-size:cover;
}

header nav .left a {
    color:black;
    padding: 5px;
    text-decoration:none;
    margin-right: 3rem;
    text-transform: uppercase;
    transition: all .2s ease;
    
}

header nav .left a:hover {
    color:rgb(181, 50, 50);
}

header nav {
    display: flex;
    padding: 2rem 0;
}


body {
    
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


.hero .left img {
    width: 400px;
    border-radius: 30% 50% 500% 30% ;
    margin-left: 3%;
    filter: blur(2px);
    
}


.hero .right {
   
    color: rgb(5, 52, 131);
    margin-top: -2rem;
}



/*home section  */
.hero .right h3 {
    
    font-size: 4rem;
    color:black;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: rgb(8, 40, 40);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 1rem;
    color:black;
    
}

section.about {
    color: #ffffff;
    /* display: flex; */
    /* text-align: center; */
    line-height: 2rem;
    font-size: large;
    font-weight:bold;
    background-image: url('../image/webmiddle.jpg');
    background-size:cover;
    height: 500px; 
}

.socials img{
    height:190px;
    width: 190px;
    border-radius: 30px;
    margin: 20px;
    
}

.about-head{
    text-align: center;
    /* margin-bottom: 1rem; */
    line-height: 5rem;
    color: rgb(232, 224, 224); 
}

.about .left img{
    /* display:flex; */
    width: 600px;
    
    
}

section.services {
    background: rgb(248, 247, 224);
   
}

.services-head {
    /* color: rgb(226, 28, 28); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 5rem;
    color: black;
}

.services-head+p {
    color: black;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;

}


.card img {
    width: 100px;
    background:transparent;
    border-radius: 10px;
}


section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-bottom:2rem;
    padding: 55px;
    
}

section.services .card-grid .card {
    background: white;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all .2s ease;
    border-radius: 60% 60% 60% 60%;
}

section.services .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
}

section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-grid .card p {
    font-family: 'Lato', sans-serif;
    color:black;
    line-height: 1.5;
}

section.services .card-grid .card:hover {
    background:gray;
}

section.services .card-grid .card:hover h2 {
    color: var(--bgDark);
}

section.services .card-grid .card:hover p {
    color:white;
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
} */

#contact {
    background-image: url('../image/contact.jpg');
    background-size: cover;
    background-color:#ddd2c3;
    padding: 80px 0;
    text-align: center;
}

.contact-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea,
button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #4b443f;
}


/* Footer section*/


.column {
    background-color: #3f3d3a;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 5em;
}
 
.social{
    gap: 3rem;
    display:flex;
    padding:1rem;
    
}

.social a{
    color: #fffbfb;
}
.social a:hover{
    background-color:transparent;
}
 

 
  
 
  